body {
  font-family: 'Lato';
  font-size: 14px;
  background: #fff;
  color: #535353;
  margin: 0px;
  padding: 50px;
  overflow: auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  overflow: auto;
}

.box {
  margin-bottom: 50px;
}

#footer {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 2px solid #fde100;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-family: 'Lato', 'Helvetica', Arial, sans-serif;
  font-weight: 300;
}

.code {
  padding: 5px;
  font-family: monospace;
  background-color: #fde100;
  border-radius: 3px;
}

ul {
  list-style-type: none;
}

li {
  line-height: 25px;
  font-size: 14px;
}

.meow {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .2em;
  padding-right: 6px;
}

.red {
  color: #FF4136 !important;
}

a:link, a:visited {
  color: #0074D9;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
}

a:hover {
  background-color: #fde100;
  border-radius: 3px;
  text-decoration: none;
}

.nuke {
  padding-left: 10px;
}

input {
  border: none;
  border-bottom: 1px solid #333;
  margin: 10px 0px;
  width: 200px;
  font-size: 16px;
  padding-bottom: 6px;
}

hr {
  color: #fde100;
}

::selection {
background: #fde100;
}
